.container {
    position: fixed;
    top: 30%;
    left: 6%;
    text-align: center;
}

.logo {
    font-size: 100px;
    margin-bottom: 60px;
}

img {
    width: 100px;
    height: 100px;
    ;
}

span {
    margin-top: 70px;
}

button {
    margin: 2%;
}

@media(max-width:994px) {
    .logo {
        font-size: 60px;
    }
}

@media(max-width:769px) {
    .logo {
        font-size: 40px;
    }
}

@media(max-width:769px) {
    .logo {
        font-size: 30px;
        margin-bottom: 30px;
    }
    button {
        padding: 2px 4px;
        font-size: 110%;
        line-height: 3;
    }
}